@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
  font-family: 'Assistant', sans-serif;
}

body {
    background-color: #403D58;
    color: white;
    text-align: center;
    line-height: 50px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    margin: 10px;
}

h3 {
    text-transform: capitalize;
}